<h1>Extract Recipes from your Plan!</h1>
<div class="container">
<%= form_for @recipe do |f| %>
	<div class="form-group">
		<%= f.label :plan_id, "Meal Plan Name" %>
		<%= f.select :plan_id, options_from_collection_for_select(@plans, 'id', 'plan_name') %>
	</div>
	<div class="form-group">
		<%= f.submit "Unbox!", {class: "btn btn-default"} %>
	</div>
	<div class="form-group">
		
	</div>
<% end %>
</div>
	




	<!-- <div class="col-xs-2"></div>
	<div class="col-xs-8">
		
	</div>
	<div class="col-xs-2"></div> -->