<div class="col-xs-4 plan-display">
	<div class="btn-group">
		<%= link_to("#{plan.plan_name}", plan_path(plan), { class: "btn btn-default", role: "button" }) %>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
	<ul class="dropdown-menu">
		<% plan.recipes.each do |recipe| %>
		<li><%= link_to("#{recipe.title}", recipe_path(recipe)) %></li>
		<% end %>
	</ul>
	</div>
</div>